<div class="container">
  <h1>Изменение методички:</h1>
  <%= form_for :guide, url: guideline_path(@guide), method: :patch do |f| %>
    <%= render 'form' %>
    <%= f.file_field :doc %><br />
    <div class="form-group">
      <input type="submit" name="commit" value="Edit guide" class="form-control btn-success">
    </div>
  <% end %>
</div>
