<div class="container-fluid back">
  <div class="pad">
  </div>
  <div class="container center">
    <h1>База данных для курсового проекта</h1>
    <a href="start_page" class="btn btn-success btn-lg" role="button">Войти</a>
  </div>
</div>
