  <%= stylesheet_link_tag 'start_page.scss', media: 'all', 'data-turbolinks-track' => true %>
<div class="container">
    <a href="/articles" class="col-sm-6 point">
        <p class="title">Курсовые</p>
        <p class="des">Управление курсовыми работами</p>
    </a>
    <a href="/students" class="col-sm-6 point">
        <p class="title">Студенты</p>
        <p class="des">Управление списком студентов, групп</p>
    </a>
    <a href="/teachers" class="col-sm-6 point">
        <p class="title">Преподаватели</p>
        <p class="des">Управление списком преподавательского состава</p>
    </a>
    <a href="/statistics" class="col-sm-6 point">
        <p class="title">Статистика</p>
        <p class="des">Просмотр полносй статистики по курсовым работам</p>
    </a>
    <a class="col-sm-6 point">
        <p class="title">Методические указания</p>
        <p class="des">Методические материалы, учебники</p>
    </a>
</div>
