  <%= stylesheet_link_tag 'start_page.scss', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
<div class="container-fluid cfsp">
    <a href="/articles" class="col-sm-3 point">
        <div class="clearfix"></div>
        <p class="title">Курсовые</p>
        <div class="line"></div>
        <p class="des">Управление курсовыми работами</p>
    </a>
    <a href="/students" class="col-sm-3 point">
       <div class="clearfix"></div>
        <p class="title">Студенты</p>
        <div class="line"></div>
        <p class="des">Управление списком студентов, групп</p>
    </a>
    <a href="/teachers" class="col-sm-3 point">
       <div class="clearfix"></div>
        <p class="title">Преподаватели</p>
        <div class="line"></div>
        <p class="des">Управление списком преподавательского состава</p>
    </a>
    <a href="/statistics" class="col-sm-3 point">
       <div class="clearfix"></div>
        <p class="title">Статистика</p>
        <div class="line"></div>
        <p class="des">Просмотр полносй статистики по курсовым работам</p>
    </a>
</div>
<style type="text/css" media="all">
  nav {
    display: none;
  }
</style>

