html,
body,
.container-fluid {
    height: 100%;
    padding: 0;
}
.container-fluid {
    background-color: #000222 !important;
}
.point {
  position: relative;
  height: 100%;
  text-align: center;
  &:link {
    text-decoration: none;
  }
  &:hover {
    background: linear-gradient(135deg, #5100a8 0%,#ff0084 100%);
    transition: all 1s ease-in-out;
  }
  .title {
      position: relative;
      top: -200px;
      font-family: 'Cuprum', sans-serif;
    margin-top: 30px;
    font-size: 36px;
    color: white;
    text-decoration: none;
  }
    .des {
        position: relative;
        color: white;
        font-family: 'Lobster', cursive;
        font-size: 18px;
    }
    .clearfix {
        height: 50%;
    }
    .line {
        width: 40%;
        border-bottom: solid 2px #333;
        text-align: center;
        display: inline-block;
        position: relative;
        top: -100px;
        border-color: #ff0084;
    }

}
